body {
  background-color: #F7F8F9;
  font-family: "Fira Sans", sans-serif;
}

h1 {
  color: #2D2441;
  font-size: 48px;
  text-align: center;
  font-weight: 300;
  margin: 40px 0;
}

@media (max-width: 576px) {
  h1 {
    font-size: 35px;
  }
}

section#faq {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
}

@media (max-width: 576px) {
  section#faq {
    width: auto;
    padding: 0 20px 40px;
  }
}

section#faq h1 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

section#faq h2 {
  font-size: 20px;
}

section#faq p, section#faq li {
  font-size: 16px;
  line-height: 20px;
  color: #837681;
}

section#faq a {
  color: #F37726;
  border-bottom: 1px solid #F37726;
  transition: color .2s ease-out;
}

section#faq a:hover, section#faq a:focus, section#faq a:visited {
  color: #DA5E0D;
  text-decoration: none;
  border-bottom: none;
}

table {
  width: 100%;
  margin: 0 0 10px;
}

th, td {
  padding: 5px;
  text-align: left;
  border: 1px solid #2D2441;
}
